html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

div.header_h1 {
    text-align: center;
}

div.top_bar {
    display: flex;
       
    background-color: rgb(240, 219, 173);
    align-items: center;
}

div.content_div {
    background-color: aliceblue;
    display: box;
    align-items: center;
}

img.test_pic {
    height: 40%;
    width: 80%;
    margin-left: 10%;
}

p.test_p{
    margin: 0;
    margin-top: 0%;
    margin-bottom: 10%;
}

div.top_bar_controls {
    margin-left: auto;
    margin-right: 3%;
}

div.top_bar_text {
    margin-left: 3%;
    margin-right: auto;
}

footer {
    text-align: center;
}