.containerChBx, .containerPass, .containerPassReg {  
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.containerChBx input, .containerPass input, .containerPassReg input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #f3e3e3;
}

.containerChBx:hover input ~ .checkmark {
  background-color: #ccc;
}

.containerPass:hover input ~ .checkmark {
  background-color: #ccc;
}

.containerPassReg:hover input ~ .checkmark {
  background-color: #ccc;
}

.containerChBx input:checked ~ .checkmark {
  background-color: #2196F3;
}

.containerPass input:checked ~ .checkmark {
  background-color: #2196F3;
}

.containerPassReg input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.containerChBx input:checked ~ .checkmark:after {
  display: block;
}
.containerPass input:checked ~.checkmark:after{
  display: block;
}
.containerPassReg input:checked ~.checkmark:after{
  display: block;
}

.containerPass .checkmark:after, .containerChBx .checkmark:after, .containerPassReg .checkmark::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}